# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# swiftc 编译产物
*.o
*.dSYM/

# 编辑器
.vscode/
.idea/
*.swp
*~
